@charset "utf-8";
/* CSS Document */
@media(min-width:1200px){
	.box1{
		background-color:#F00;
		height:500px;
		width:500px;
		}
	}
	

@media(min-width:992px)	and (max-width:1199px){
	.box1{
		background-color:#0F0;
		height:400px;
		width:400px;
		}
	}
@media(min-width:768px)	and (max-width:991px){
	
	.box1{
		background-color:#666;
		height:300px;
		width:300px;
		}
	
	}
@media(max-width:767px){
	.box1{
		background-color:#FF0;
		height:300px;
		width:200px;
		}


